@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico.ttf') format('truetype');
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$color_main = #2ECC71
$color_background = #e3e3e3

html
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
/* Hero */ 
.hero
  border-top $color_main 10px solid
  background url('./img/header.png')  no-repeat top center
  color #fff
  font-size 26px
  max-height 600px
  &__heading
    padding-top 166px
    font-family 'Pacifico'
    font-weight 400
    set-font-size(83px)
    margin-bottom remify(36px)
    margin-top 0
    & .green
      color $color_main
  &__icons
    margin-top 27px
    padding-bottom 167px
  &__app__phone
    position absolute 
    bottom 0
    visibility hidden
/* Icons */
.sprite
  background url('./img/sprite.png') no-repeat top left
  width 53px
  height 53px
  display block
  float left
  opacity 0.6
  margin-right 13px
  &:hover
    opacity 1
  &.android_g
    background-position 0 0
    &:hover
      background-position 0 -63px
  &.apple_g
    background-position 0 -126px
    &:hover
      background-position 0 -189px
  &.wind_g
    background-position 0 -252px
    &:hover
      background-position 0 -315px
      
/* Value */
.value 
  text-align center
  padding 60px 0 45px 0
  &__heading
    font-size 21px
    margin 26px 0
    font-weight 300
  &__description
    font-size 14px
    line-height 18px
    font-size: 14px;
    line-height: 2.7rem;
    color #999

/* Notify */
.notify 
  background-color $color_background
  &__header
    padding-top 62px
    text-align center
    font-size 22px
  &__description
    font-size: 14px;
    line-height: 2.7rem;
    color #999

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px)
  .hero__app__phone
    max-width 50%
    float right
    visibility visible
  .notify__description
    width 100%
/* Larger than tablet */
@media (min-width: 750px)
  .hero__app__phone
    max-height 420px


/* Larger than desktop */
@media (min-width: 1000px)
  .hero__app__phone
    max-height 505px

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
